sudo: required
services:
  - docker

before_install:
  - docker build -t devidasprt/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true devidasprt/react-test npm test -- --coverage

after_success:
  - docker build -t devidasprt/multi-client ./client
  - docker build -t devidasprt/multi-nginx ./nginx
  - docker build -t devidasprt/multi-server ./server
  - docker build -t devidasprt/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # take these images and push them to dockerhub
  - docker push devidasprt/multi-client
  - docker push devidasprt/multi-nginx
  - docker push devidasprt/multi-server
  - docker push devidasprt/multi-worker